@charset "utf-8";

body {
	font-weight: normal;
	font-style: normal;
	font-family: 'メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
	font-size: 14px;
	color: #333333;
	text-align: center;
	background-color: #b9b9b9;
	background-image: url("../img/bg.png");
	background-repeat: repeat;
}

div {
	border: none;
	height: auto;
}

#headbg {
	width: 100%;
	min-width: 1024px;
	background-color: #e7d09c;
	background-image: url(../img/headbg.jpg);
	background-repeat: repeat;
	overflow: hidden;
	-webkit-box-shadow: 0px 3px 5px #999999;
	-moz-box-shadow: 0px 3px 5px #999999;
	box-shadow: 0px 3px 5px #999999;
	position: relative;
	z-index: 0;
	padding: 5px 0px 5px 0px;
}

#header {
	width: 1024px;
	margin: auto;
	-webkit-box-shadow: 0px 3px 5px #999999;
	-moz-box-shadow: 0px 3px 5px #999999;
	box-shadow: 0px 3px 5px #999999;
}

#logo {
	width: 60%;
	float: left;
	text-align: left;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}

#logo a 
{
    text-decoration: none;
}

#address {
	width: 40%;
	float: left;
	text-align: left;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	font-size: 90%;
}

#wrapper {
	background-color: #ffffff;
	width: 1024px;
	min-height: 800px;
	margin: auto;
	padding: 10px 0px 40px 0px;
	clear: both;
	text-align: left;
	overflow: hidden;
}

#menu {
	width: 20%;
	float: left;
	text-align: left;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
	text-align: center;
}

#menu a {
	color: #333333;
	text-decoration: none;
}

#menu li {
	font-size: 130%;
	text-shadow: 0px 1px 1px #9d9d9d;
	text-align: left;
	margin: 10px 20px 20px 20px;
	padding: 0px 0px 5px 10px;
	border-left: 10px solid #b9b9b9;
}

#menu li span {
	display: block;
	font-size: 70%;
}

#menu li:hover {
	border-color: #7d1f0a;
}

#menu li.current {
	border-color: #7d1f0a;
}

#main {
	width: 80%;
	float: left;
	text-align: left;
	padding-bottom: 32768px;
	margin-bottom: -32768px;
}

.banner {
	display: block;
	margin: 10px auto 20px auto;
	box-shadow: 3px 3px 12px #666666;
	border: 5px solid #ffffff;
}

#footbg {
	width: 100%;
	min-width: 1024px;
	background-color: #b9b9b9;
	overflow: hidden;
	position: relative;
	z-index: 0;
}

#footer {
	clear: both;
	text-align: center;
	overflow: hidden;
	width: 1024px;
	margin: auto;
}

#footer p {
	font-weight: normal;
	color: #333333;
	font-size: 90%;
	text-shadow: 0px 1px 1px #9d9d9d;
	padding: 5px 0px 0px 0px;
}

h1 {
	font-weight: normal;
	color: #333333;
	font-size: 170%;
	vertical-align: top;
	text-shadow: 0px 1px 1px #9d9d9d;
}

h1 span {
	font-size : 70%;
	display : block;
	vertical-align: baseline;
	padding-top: 0px;
}

h2 {
	font-size: 100%;
	font-weight: normal;
	color: #333333;
	border-bottom: 1px solid #7d1f0a;
}

h2 span {
	vertical-align: center;
	font-size: 90%;
	display: inline;
	color: #aaaaaa;
	margin-left: 10px;
}

h2 span:before {
	content: "|";
	display: inline;
	margin: 0px 10px 0px 5px;
	color: #333333;
}

h3 {
	font-size: 120%;
	font-weight: bold;
	color: #333333;
	padding-left: 0px;
	border-left: 10px solid #7d1f0a;
	border-bottom: 2px solid #7d1f0a;
	padding-left: 5px;
	margin: 20px 0px 0px 0px;
}

h4 {
	font-size: 120%;
	font-weight: normal;
	color: #333333;
	border-bottom: 1px solid #7d1f0a;
	margin: 10px 0px 0px 0px;
}

p {
	margin: 5px 10px 10px 0px;
	line-height: 160%;
}

.list li:before {
	content: "・";
}